.left-content {
    width: 70%; 
    margin: auto;
    margin-left: 190px;
    margin-top: 80px;
    text-align: left; 
    z-index: 2;
}

.left-content p {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    margin-top: 20px; 
}

p.abouthis {
    width: 300px;
    margin-left: -18px;
    margin-top: 50px;
    font-size: 20px;
}

 .right-content {
    width: 35%; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
 }

 .waterfall-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    animation: moveWaterfall 60s linear infinite; 
}
    
.waterfall-gallery img {
    height: 200px;      
    width: 200px;      
    object-fit: contain; 
    object-position: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    background-color: rgba(255, 255, 255, 0.468); 
}

#gallery {
    overflow: hidden;
    white-space: nowrap;
}

#gallery img {
    vertical-align: middle;
}

@keyframes moveSlideshow {
    100% { transform: translateX(-100%); }
}


@keyframes moveSlideshow {
    100% { transform: translateX(-100%); }
}

@keyframes moveWaterfall {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}