@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

body {
    background-color: #F2CF8D;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

h1 {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
    text-align: left;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    min-height: 500px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: auto; 
    margin-left: 10%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    align-items: start;
    }


.left-content, .right-content {
    flex: 1;
}

#gallery {
    /* Styles for the gallery container */
    overflow: hidden;
    white-space: nowrap;
    /* Animation for moving images */
}

#gallery img {
    /* Styles for images */
    vertical-align: middle;
    /* More styles as needed */
}

@keyframes moveSlideshow {
    100% { transform: translateX(-100%); }
}


@keyframes moveSlideshow {
    100% { transform: translateX(-100%); }
}
