
#center-image {
    max-width: 40%;
    max-height: 70vh;
    object-fit: contain;
    position: relative; 
    margin-left: auto; 
    margin-right: 15%; 
}

.container {
    text-align: center; 
    margin: auto;
    margin-top: 80px;
	min-height: 500px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: auto; 
    margin-left: 10%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
	justify-content: space-between;
	align-items: start;
}

#upload-form {
    background-color: white;
    margin-top: 50px;
	position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 50%; 
}

.custom-file-upload, button {
    padding: 10px 20px; 
    margin-bottom: 10px; 
    margin-top: 10px;
    text-align: center; 
    display: inline-block; 
   
}

#preview-heading {
    left: 0; 
    width: 100%; 
    text-align: center; 
    display: none; 
}

.text {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

h2  {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    letter-spacing: 1.5px;
}

form {
    margin: 50px 0 40px;
}

/* -----Upload Button----- */
/* -----Upload Button----- */
/* -----Upload Button----- */

.custom-file-upload {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-transform: uppercase; 
    transition: background-color 0.1s ease-in-out;
    margin-right: 10px;
    padding: 10px 20px; 
    box-sizing: border-box; 
    width: calc(100% - 40px); 
}

.custom-file-upload:hover {
    background-color: #e17000;
}

input[type=file]:hover {
    border-color: #e17000;
}

#result {
    margin-top: 40px;
}

.hidden {
    display: none;
}

#intro-text {
    display: block; 
	margin-bottom: 30px;
}

#preview-heading {
    display: none; 
}

/* -----Show file preview----- */
/* -----Show file preview----- */
/* -----Show file preview----- */

#file-preview {
    margin-top: 20px;
    display: none;
}

#preview-image {
    width: 450px;
    height: 200px;
    object-fit: contain; 
    margin-top: 150px;
}
