@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
}

.container {
    text-align: center; 
    margin: -50vh auto 0;
    padding: 20px;
    width: 80%;
    position: relative;
    z-index: 1;
}

#preview-heading {
    position: absolute; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    display: none; 
}

/* Text Design */
h1 {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
}

.orange {
    color: #e17000; 
}

.text {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

h2  {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    letter-spacing: 1.5px;
}

form {
    margin: 50px 0 40px;
}

/* Button */
.custom-file-upload {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px; 
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px;
    border: none;
    display: inline-block;
    transition: background-color 0.1s ease-in-out;
    margin-right: 10px;}

.custom-file-upload:hover {
    background-color: #e17000;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px; 
    transition: background-color 0.1s ease-in-out;
}

button:hover {
    background-color: #e17000; 
}

input[type=file] {
    border: 2px solid #3498db;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

input[type=file]:hover {
    border-color: #e17000;
}

#result {
    margin-top: 40px;
}

.hidden {
    display: none;
}

#intro-text {
    display: block; /* Ensure intro-text is initially visible */
}

#preview-heading {
    display: none; /* Ensure preview-heading is initially hidden */
}

/* Show file preview container */
#file-preview {
    margin-top: 20px;
    display: none;
}

#preview-image {
    width: 450px;
    height: 200px;
    object-fit: contain; 
    margin-top: 150px;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    .container {
        width: 95%;
    }
}
