@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

body {
    background-color: #F2CF8D;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}

#center-image {
    max-width: 40%;
    max-height: 70vh;
    object-fit: contain;
    position: relative; 
    margin-left: auto; 
    margin-right: 15%; 
}

.container {
    text-align: center; 
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: auto; 
    margin-left: 5%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#upload-form {
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 50%; /* This ensures it takes the full width of its parent .container */
}


.custom-file-upload, button {
    padding: 10px 20px; /* Adjust the vertical and horizontal padding */
    width: 200px; /* Ensures both buttons have the same width */
    margin-bottom: 10px; /* Space between buttons */
    margin-top: 10px;
    text-align: center; /* Centers the text in the button */
    display: inline-block; /* Ensures that the width property is respected */
    /* Other styles */
}


#preview-heading {
    position: absolute; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    display: none; 
}

/* Text Design */
h1 {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
    
    text-align: left;

}

.orange {
    color: #e17000; 
}

.text {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

h2  {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    letter-spacing: 1.5px;
}

form {
    margin: 50px 0 40px;
}

/* Button */
.custom-file-upload {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px; 
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-transform: uppercase; 
    transition: background-color 0.1s ease-in-out;
    margin-right: 10px;}

.custom-file-upload:hover {
    background-color: #e17000;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px; 
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px;
    border: none;
    text-transform: uppercase; 
    display: inline-block;
    transition: background-color 0.1s ease-in-out;
    margin-right: 10px;
}

button:hover {
    background-color: #e17000;
}

input[type="file"] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    margin-bottom: 20px; /* Space between the input and the button */
}



input[type=file]:hover {
    border-color: #e17000;
}

#result {
    margin-top: 40px;
}

.hidden {
    display: none;
}

#intro-text {
    display: block; /* Ensure intro-text is initially visible */
}

#preview-heading {
    display: none; /* Ensure preview-heading is initially hidden */
}

/* Show file preview container */
#file-preview {
    margin-top: 20px;
    display: none;
}

#preview-image {
    width: 450px;
    height: 200px;
    object-fit: contain; 
    margin-top: 150px;
}

/* Responsive Design */
@media (max-width: 1200px) {
    #center-image {
        width: 50%;
    }

    .container {
        width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        justify-content: center;
    }

    #center-image, .container {
        width: 80%;
        margin: 20px 0; /* Add some vertical spacing */
    }

    #center-image {
        order: 2; /* Image goes below the form */
        margin-left: 0; /* Reset margin */
        margin-right: 0; /* Reset margin */
    }

    .container {
        order: 1; /* Form goes above the image */
        align-items: center; /* Center the form items */
    }
}

@media (max-width: 480px) {
    #center-image, .container {
        width: 90%; /* Increase width for very small devices */
    }
}