
.container {
    margin: auto;
    margin-top: 100px;
	min-height: 500px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: auto; 
    margin-left: 10%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
	justify-content: space-between;
	align-items: start;
}
.species-list {
    list-style-type: none;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.species-image {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px; 
}

.species-list li:hover .species-image {
    display: block;

}

.species-list li:hover {
color: #e17000;
}

.species-list li {
    font-size: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.species-list li img {
    display: none;
    position: fixed;  
    top: 50%;        
    left: 60%;      
    transform: translate(-50%, -50%);
    max-width: 500px; 
    max-height: 500px; 
    z-index: 100; 
}

.species-list li:hover img {
    display: block; 

}