@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.text-container {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
}

.left-content, .right-content {
    flex: 1;
    margin: 10px;
}

.left-content {
    padding-top: 10%; 
}

.text-container {
    width: 75%;
}

.right-content {
    text-align: center;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: medium;
}

.back-button:hover {
    background-color: #e17000;
}

/* Text Design */
h1, .text, h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    margin-top: -400px; 
}