
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.text-container {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
}

.left-content, .right-content {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.text-container {
    width: 75%; 
    margin-top: 20px; 
}

.left-content {
    padding-top: 10%; 
}

.text-container {
    width: 75%;
}

.right-content {
    text-align: center;
}

/* Text Design */
h1, .text, h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    margin-top: -400px; 
}

#uploaded-image {
    max-width: 90%;
    max-height: 70vh;
    object-fit: contain;
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    
}