
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.text-container {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 18px;
}

.left-content, .right-content {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.text-container {
    width: 75%; 
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    margin-top: -200px;
}

.left-content {
    padding-top: 10%; 
}

.text-container {
    width: 75%;
}

.right-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, .text, h2 {
    font-family: 'Schibsted Grotesk', sans-serif;
}

h5 {
    font-size: 14px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    font-style: oblique;

}

#uploaded-image {
    max-width: 90%;
    max-height: 30vh;
    object-fit: contain;
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    
}