@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');
.orange {
    color: #e17000; 
}

body {
    background-color: #F2CF8D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.container {
    margin: auto;
    margin-top: 100px;
	min-height: 500px;
    padding: 20px;
    position: relative;
    z-index: 1;
    width: auto; 
    margin-left: 10%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
	justify-content: space-between;
	align-items: start;
}
.species-list {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
}

.species-list li {
    font-size: 50px; /* Increase the font size */
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
}

.species-list li span {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes underline */
    cursor: default;
}
