
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');

body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
}

.container {
    text-align: center; 
    margin: -50vh auto 0;
    padding: 20px;
    width: 80%;
    position: relative;
    z-index: 1;
}

/* Text Design */
h1 {
    font-family: 'Abril Fatface', sans-serif; 
    font-size: 60px;
    color: #000000;
    letter-spacing: 1.5px;
}
.orange {
    color: #e17000; 
}

.text {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-size: larger;
}

h2  {font-family: 'Schibsted Grotesk', sans-serif;
    font-size: 20px;
}

form {
    margin: 20px 0;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    font-family: 'Schibsted Grotesk', sans-serif; 
    font-size: medium;
    border-radius: 10px; 
}

button:hover {
    background-color: #e17000; }

#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Show file preview container */
#file-preview {
    display: none;
}

#preview-image {
    max-width: auto;
    max-height: 500px; /* Define the maximum height for the preview image */
}

/* --------------------------- */

/* --------------------------- */

