@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Schibsted+Grotesk&display=swap');
@import url("https://use.typekit.net/hoc1mau.css");

html, body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    overflow-x: hidden; 
    box-sizing: border-box; 
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: stretch; 
}

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 100%; 
    width: 100%; 
    user-select: none;
}


/* ----Top Contnent---- */
/* ----Top Contnent---- */
/* ----Top Contnent---- */

.welcome-page .top {
    position: relative;
    display: flex;
    height: 185px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    flex: 1;
}

.welcome-page .spatial-audio {
    position: absolute;
    width: 317px;
    height: 94px;
    font-family: "Kokoro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffffa0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    top: 50px;
}

.press-anywhere {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "open-sans-condensed", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffffa0;
    font-size: 15px;
    text-align: right;
    top: 46px;
    right: 50px;
}

/* ----Mid  Contnent---- */
/* ----Mid  Contnent---- */
/* ----Mid  Contnent---- */

.welcome-page .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 25px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    flex: 1;
}

.welcome-page .recognise-clownfish {
    position: relative;
    width: fit-content;
    font-family: "Anek Bangla-Regular", Helvetica;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.welcome-page .text-wrapper {
    color: #ffffff;
}

.welcome-page .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 0px;
    position: relative;
    flex: 0 0 auto;
    all: unset;
    box-sizing: border-box;
}

.welcome-page .button-enter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.welcome-page .ellipse {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /

}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.welcome-page .ellipse {
    animation: pulsate 2s infinite ease-in-out;
}
/* ---------- Enter --------- */
/* ---------- Enter --------- */
/* ---------- Enter --------- */

.welcome-page .div {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: "Kokoro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    transition: transform 0.3s ease-in-out; 
}

.welcome-page .div:hover {
    transform: translate(-50%, -50%) scale(1.1); 
    color:#e17000;
}


/* ----Contnent  Bottom---- */
/* ----Contnent  Bottom---- */
/* ----Contnent  Bottom---- */

.welcome-page .buttom {
    display: flex;
    flex-direction: column;
    width: 1728px;
    height: 220px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 40px 0px;
    position: relative;
}

.buttom .head {
    display: contents;
    margin-bottom: 50px;
}
.headphones {
    position: relative;
    width: fit-content;
    font-family: "open-sans-condensed", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #ffffffa0;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.buttom .imgheadphones {
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: cover;
}



/* -----noise effect-----  */
/* -----noise effect-----  */
/* -----noise effect-----  */

body::before {
    content: "";
    position: fixed;
    left: -10rem;
    z-index: 9999;
    top: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-image: url(https://im.chappuiscaetano.ch/images/noise.png);
    opacity: 0.65;
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
}

@-webkit-keyframes noise {
    to {
        transform: translate3d(-7rem, 0, 0);
    }
}

@keyframes noise {
    0% {
        transform: translate3d(0, 9rem, 0);
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0);
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0);
    }

    30% {
        transform: translate3d(9rem, -9rem, 0);
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0);
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0);
    }

    60% {
        transform: translate3d(2rem, 6rem, 0);
    }

    70% {
        transform: translate3d(7rem, -8rem, 0);
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0);
    }

    90% {
        transform: translate3d(6rem, -5rem, 0);
    }

    to {
        transform: translate3d(-7rem, 0, 0);
    }
}

/* --------------------- animition --------------------- */
/* --------------------- animition --------------------- */
/* --------------------- animition --------------------- */
@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.press-anywhere {
    animation: slideInRight 0.5s ease-in forwards;
}


.welcome-page .mid {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.welcome-page .spatial-audio {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 3s ease-in forwards, slideIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

.headphones {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in forwards, slideIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

.imgheadphones {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in forwards, slideIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

/* bubbles */
/* bubbles */
/* bubbles */

.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: bubble 4s linear;
}

@keyframes bubble {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}